*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.Value{
    
    display: flex;
    padding: 60px 2px 2px;
    justify-content: center;
    
}

.picvalue{
    width: 80vmax;
    /* height: auto; */
}