@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Raleway:wght@200;600&display=swap');

/* color variables */
:root {
  --blue: #1c4874;
  --orange: #f5822a;
  --ltblue: #859db0;
  --rylblue: #004aad;
  --gray:#e0e3e6;
  --indigo:#1b4776;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}


/* navigation */
.navi {
  display: flex;
  justify-content: space-evenly;
}

.nav-link{
    /* color: rgb(45, 55, 61) ; */
    color: var(--indigo);
    margin: 0 0px;
    font: 1.3rem/100% 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px #2c2c2c;
}

.dklk {
  color:var(--indigo);
}

.dklk:hover {
  color: white;
}

/* ribbon over the header */
.main-ribbon {
  background: var(--ltblue);
  /* background-color: #004aad; */
  opacity:.65;
  width: 100%; 
  text-align: center; 
  
  /* padding: 15px;  */
  margin-bottom: 3rem;
  display: flex;
  color:var(--indigo);
  border-bottom: 1px solid var(--blue);
}

.topRow{
  padding-bottom: 0%;
}

.nav-ribbon ~ .ribbon-txt,
.nav-ribbon ~ span {
  color: white;  
}

.ribbon-txt > i,
.ribbon-txt > a > i {
  font-size: 1.3rem;
  margin: 3px 5px;
}

span.ribbon-txt::after {
  content: "";
  padding: 0 0.7rem;
}

.left-rib {
  text-align: left;
}
.UserId {
  text-align: right;
  margin-right: 90px;


}

.left-rib img {
  width: 30px;
  height: 20px;
  object-fit: cover;
  margin: 0 10px;
}

.left-rib img:nth-of-type(even) {
  margin-left: -10px;
}

.left-rib > i {
  margin: 0 10px; 
}

.right-rib {
  text-align: right;
}

.logo1 {
    max-width: 250px;
    display: flex;
    margin: 20px;
    margin-top: -20px;
}

.logomain {
    height: 10vh;
}

.logobrand {
  width: 80%;
  max-height: 170%;
 
}
.logobott{
 max-width: 30%;
}

.foto {
height: 40vh;
}

.anchor {
  text-decoration: none;
  color: #1b1b1c; 
}

.anchor:hover {
  color: var(--orange);
}

/* hero background */
.hero.container-fluid {
  background-image: url('../components/images/MainPage/BackgndNew.png');
  background-position:top;
  background-size:cover;
  height:39vmax;
  
}


.Exchange {
  text-align: center;
  overflow-wrap: inherit;
}

.rate {
font-size: 12px;
}

.ribbon-txt.rate::after:nth-of-type(even) {
  content: '';
  padding: 0;
  margin-right: -10px;
}

.Nonhero.container-fluid {
  margin-top: -12vh;
  background-position: center;
  background-size: cover;
  height: 28vh;
  margin-bottom: 20px;
  @media(max-width:768px) {
    width:250px;
    height:auto;
    
}
}


